.booking-page {
    padding: 10px;
    max-width: 80%;
    margin: 0 auto;
    background-color: #6c8194;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.movieDetails{
    backdrop-filter: blur(10px);
    color : rgb(161, 161, 161) ;
    border-radius: 15px ;
    border-color: black;
    border: #28a745;
}

.booking-title {
    text-align: center;
    margin-bottom: 0px;
    padding-bottom: 0px ;
}

.booking-poster {
    display: block;
    margin: 0 auto 20px;
    max-width: 200px;
    border-radius: 8px;
}

.showtimes,
.seats {
    margin-bottom: 20px;
}

.showtime-buttons,
.seat-map {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.showtime-button,
.seat {
    padding: 10px 20px;
    background-color: #fcd3d3;
    border: 1px solid #7a7a7a;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s;
    box-shadow: #7a7a7a;
}

.showtime-button.selected,
.seat.selected-seat {
    background-color: #007bff;
    color: white;
}

.showtime-button:hover,
.seat:hover {
    background-color: #ffa4a4;
}

.booking-button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #00d832;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.booking-button:hover {
    background-color: #218838;
}
