.IDinput{
    background-color: rgb(37, 37, 37);
    color : white;
    border-radius : 5px ;
    height : 40px ;
    width : 100% ;
    border : rgb(0, 0, 0) ;
    padding : 10px ;
    padding-right : 0px ;
}
.IDinput::placeholder{
    background-color: rgb(37, 37, 37);
    color: rgb(156, 156, 156);
    
    font-size: large;

}